body {
  background-image: url(./nordwood-themes-KcsKWw77Ovw-unsplash.jpg);
}

footer {
  text-align: center;
  background-color: #f0f2f3;
  margin-top: 3rem;
}

nav {
  background-color: #f0f2f3;
}

.card {
  margin-top: 5rem;
}

.spacer {
  padding-right: 10px;
  padding-bottom: 5px;
}

@media screen and (max-width: 400) {
  img {
    size: 400px;
  }
}
